h1 {
    color: #27aedb;
    text-align: center;
}

button {
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bg-pink {
    background-color: pink;
}

.container-dropdown {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
}

.container-dropdown-select {
    /* border-right: 2px solic black; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-dropdown-display {
    width: 50%;
    border-left: 2px solid black;
}

.box {
    padding: 15px;
    margin: 20px 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.select-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}

select {
    width: 200px;
    height: 32px;
    border-radius: 5px;
    margin: 10px;
}